
# Intellij
# Ignoring all project files

*.iml
*.ipr
*.iws
.idea/
out/

.tests/
target/
node_modules/
**/dist/bundle.js
**/dist/spa/
**/dist/sfdx/
**/dist/server.jar

vsix/dist/config.json
lana/dist/config.json
*.vsix

sfdx/dist/lib/
sfdx/dist/oclif.manifest.json
*.tgz

