@import '../datagrid/style/DataGrid.scss';

#call-tree-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  #call-tree-table-container {
    min-height: 0;
  }

  #call-tree-table {
    height: 100%;
  }

  a {
    color: var(--vscode-textLink-foreground);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--vscode-textLink-activeForeground);
      text-decoration: underline;
    }

    &:active {
      background: transparent;
      color: var(--vscode-textLink-activeForeground);
    }
  }
}
