@import '../datagrid/style/DataGrid.scss';

#calltreeContainer {
  min-height: 0;
}

#calltreeTable {
  height: 100%;
}

#treeViewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
