#timeline-view {
  position: relative;
  height: 75%;
}
#timeline-tooltip {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 5px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  max-width: 90%;
}
#timeline-container {
  flex: 1;
  overflow: hidden;
}
#timeline {
  background-color: var(--vscode-editor-background);
  z-index: 0;
  width: 100%;
  height: auto;
}
#timeline-key {
  margin-top: 5px;
}
#timeline-key .timeline-key__entry {
  display: inline-block;
  font-size: 0.9em;
  padding: 4px;
  margin-right: 5px;
}
