@import '../datagrid/style/DataGrid.scss';

#db-container {
  overflow: scroll;
}
#db-dml-table,
#db-soql-table {
  margin-bottom: 1rem;
  height: 100%;
}
.row__details-container {
  border-bottom: 2px solid var(--vscode-editorHoverWidget-border);
  padding: 5px 0px 5px 0px;
  background-color: var(--vscode-editorHoverWidget-background);
}
.db-group-row {
  display: flex;
  min-width: 0;
  font-family: monospace;
}
.db-group-row__title {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
