@import '../datagrid/style/DataGrid.scss';

#dbContainer {
  overflow: scroll;
}
#dbDmlTable,
#dbSoqlTable {
  margin-bottom: 1rem;
  height: 100%;
}
.soqlDBDetailView {
  border-bottom: 2px solid var(--vscode-editorHoverWidget-border);
  padding: 5px 0px 5px 0px;
  background-color: var(--vscode-editorHoverWidget-background);
}
.tabulator-tooltip {
  background: var(--vscode-editor-background);
  overflow-wrap: anywhere;
}
.tabulator-row.tabulator-selected {
  color: var(--vscode-list-activeSelectionForeground);
}
.db-group-wrapper {
  display: flex;
  min-width: 0;
}
.db-group-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
