.buttonContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	margin-bottom: 10px;
}
.buttonContainer button {
	display: block;
	margin: 5px;
}
.filterCheckbox {
	margin: 5px;
}
#treeScroll {
	overflow: scroll;
	white-space: nowrap;
	flex: 1;
}
#tree {
	white-space: nowrap;
	height: 0;
}
#tree .count {
	color: red;
	margin-right: 5px;
}
.node {
	margin-top: 2px;
}
.node.system {
}
.node.formula {
}
.childContainer {
	margin-left: 24px;
}
.block {
	margin-top: 2px;
}
.detail {
	display: none;
}
.toggle {
	cursor: pointer;
	margin-right: 4px;
	padding: 2px;
	border: 1px solid silver;
	display: inline-block;
	width: 10px;
	text-align: center;
	line-height: 10px;
}
.indent {
}
