@import '../../datagrid/style/DataGrid.scss';

.row__details-container {
  height: 100%;
  padding: 4px 4px 4px 4px;
  background-color: var(--vscode-editorHoverWidget-background);
}
.db-group-row {
  display: flex;
  min-width: 0;
  font-family: monospace;
}
.db-group-row__title {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
