#analysisContainer {
  height: 100%;
  display: contents;
  max-height: 100%;
  box-sizing: border-box;
}

#analysisView > .buttonContainer {
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  margin: 5px;
}
