.statusBar {
    margin-top: 10px;
	display: flex;
}
#status {
	display: flex;
	align-items: center;
	font-size: 10pt;
	margin-bottom: 5px;
	margin-top: 5px;
}
.statusPad {
	flex-grow: 1;
}
.helpIcon {
	width: 24px;
	height: 24px;
}
.reason {
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 5px;
}
