.statusBar {
  margin-top: 10px;
  display: flex;
  width: 100%;
  position: relative;
  white-space: nowrap;
}
#status {
  align-items: center;
  font-size: 10pt;
  margin-bottom: 5px;
  margin-top: 5px;
}
.helpIcon {
  width: 24px;
  height: 24px;
}
.reason {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}
.tooltip {
  visibility: hidden;
  padding: 5px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  word-break: break-word;
  white-space: normal;
  position: absolute;
  z-index: 1;
  top: 100%;
}
.reason:hover + .tooltip {
  visibility: visible;
}
