.tabber {
  border-top-width: 0;
  padding-top: 10px;
  flex: 1;
  margin-bottom: 20px;
  min-height: 0;
}
.tab__item {
  display: none;
  height: 100%;
}
.tab__item.tab__item--selected {
  display: flex;
  flex-direction: column;
}
