#timeInMS {
  width: 4rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}
.buttonContainer button {
  /* display: block; */
  margin: 5px;
}
.filterItem {
  margin: 5px;
}
#treeScroll {
  overflow: scroll;
  white-space: nowrap;
  flex: 1;
}
#tree {
  white-space: nowrap;
  height: 0;
}
#tree .count {
  color: red;
  margin-right: 5px;
}
#breadcrumb {
  background-color: aliceblue;
  white-space: nowrap;
  overflow-x: auto;
}
.crumb {
  display: inline-block;
  padding: 0 5px;
  background-color: beige;
  border: solid 1px blue;
  border-radius: 10px;
  margin: 4px 2px 10px 2px;
  white-space: nowrap;
  font-size: 10pt;
}
.node {
  margin-top: 2px;
  white-space: pre;
}
.node.system {
  display: block;
}
.node.formula {
  display: inline-block; /* make different to .node.system to stop rollup from combining them */
}
.childContainer {
  margin-left: 24px;
}
.block {
  margin-top: 2px;
  white-space: pre;
  /* This is emulate the effect of hanging indent on text */
  padding-left: 1em;
  text-indent: -1em;
}
.detail {
  display: none;
}
.marked {
  border: dashed blue 2px;
}
.toggle {
  cursor: pointer;
  margin-right: 4px;
  padding: 2px;
  border: 1px solid silver;
  display: inline-block;
  width: 10px;
  text-align: center;
  line-height: 10px;
}
.indent {
}
.hide {
  display: none;
}
