:root {
  --notification-error-background: var(--vscode-editorError-background, rgba(255, 128, 128, 0.2));
  --notification-warning-background: rgba(128, 255, 128, 0.2);
  --notification-information-background: rgba(128, 128, 255, 0.2);
}
