name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install vsce
        run: npm install --global vsce
      - name: Dependencies
        run: |
          cd lana
          npm ci
      - name: Build
        run: |
          cd lana
          vsce package
