name: Publish Stable

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
      - name: Install vsce + ovsx
        run: |
          pnpm add --global @vscode/vsce
          pnpm add --global ovsx
      - name: Dependencies
        run: |
          HUSKY=0 pnpm install
      - name: Build extension
        run: |
          cd lana
          vsce package --no-dependencies
      - name: Publish to VS Code Marketplace + Open VSX Registry
        run: |
          cd lana
          echo "Verify vsce token has not expired"
          vsce verify-pat -p ${{ secrets.VSCE_TOKEN }}
          echo "Verify ovsx token has not expired"
          ovsx verify-pat -p ${{ secrets.OVSX_TOKEN }}

          echo "Publish to vsce"
          vsce publish --packagePath lana-${{ github.event.release.tag_name }}.vsix --no-dependencies -p ${{ secrets.VSCE_TOKEN }}
          echo "Publish to ovsx"
          ovsx publish lana-${{ github.event.release.tag_name }}.vsix --no-dependencies -p ${{ secrets.OVSX_TOKEN }}
